body{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#333333;
}

#mainTab,#tab1,#tab2{clear:both}

#tablink{float:left;background-image:url('tab.gif');text-align:center;width:78px;height:35px}

.mini{
border:1px solid #003399;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#333333;
}


.mini_btn{
border:1px solid #003399;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:normal;
background-color:#FEE;
color:#000;
}

.mini_txa{
border:1px solid #003399;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#333333;
height:300px;
}

.TD{
font-size:12px; 
font-family:verdana, helvetica, arial;
width:auto;
background-image:url(TD.jpg);
background-color:#FFFFFF;
background-position:bottom;
background-repeat:repeat-x;
}


.headerTD{
font-size:14px; 
font-family:verdana, helvetica, arial;
width:auto;
background-image:url(headerTD.jpg);
background-color:#FFFFFF;
background-position:bottom;
background-repeat:repeat-x;
}

